version: '3'
services:
  influxdb:
    image: influxdb
    volumes:
      - influx:/var/lib/influxdb
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

  grafana:
    image: grafana/grafana
    ports:
      - 3000:3000
    volumes:
      - grafana:/var/lib/grafana
    depends_on:
      - influxdb
    deploy:
      replicas: 1
      placement:
        constraints:
          - node.role == manager

  telegraf:
    image: kruschecompany/telegraf
    environment:
      HOST_PROC: /rootfs/proc
      HOST_SYS: /rootfs/sys
      HOST_ETC: /rootfs/etc
    hostname: "{{.Service.Name}}-{{.Task.Slot}}-{{.Node.ID}}"
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock:ro
    depends_on:
      - influxdb
    deploy:
      placement:
        constraints:
          - node.role == worker

volumes:
  influx:
    driver: local
  grafana:
    driver: local